
<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<p class="about_title">About GA Extend</p>
		<p class="about_text">As recent General Assembly grads, we want to create a space where we can <strong>collaborate with other alumni, share skills, sustain connections and grow our networks.</strong>  While GA provides post-program Outcomes support and alumni events, there was no central place for us to connect directly - until now. </p>

		<p class="about_text"> GA Extend promotes <strong>productive engagement</strong> - work with other alumni to develop and maximize your GA learning and broaden your skill set to give yourself a competitive advantage in job searching, interviews and networking.  It works! [Can we do something to showcase Jeff Brydon’s story here?]</p>

		<p class="about_text"> Whether you are a developer looking for a designer for your next app idea or a PM seeking to expand your alumni network, why not <strong>leverage and extend your GA experience</strong> here with us?</p>

		<p class="about_text">Check out the most recent alumni postings here [home page-link]! </p>
	</div>
</div>

<div class="container">
			<div class="row"> 
		<div class="col-md-6 col-md-offset-3">
				<p class="about_title centered">Developers:</p>
				<div class="col-md-5 col-md-offset-1"><%= image_tag("default.png", size: "75x75", class: "right_margin") %>
				<p class="about_title left_margin">Danny Chan</p>
				</div>

				<div class="col-md-5 col-md-offset-1"><%= image_tag("default.png", size: "75x75", class: "right_margin") %>
					<p class="about_title left_margin">Joe Roers</p>
			</div>
		</div>

	</div>
</div>

<div class="container">
			<div class="row"> 
			<p class="about_title centered">Designer:</p>
	
		</div>
</div>