<jumbotron><img src="http://placehold.it/1275x150"> </jumbotron>

<div class='container buttons'>
	<div class='col-md-8 col-md-offset-2 centered'>
		<%= link_to 'NETWORKING', '/', class:'btn btn-danger btn-filter btn-networking' %> 
		<%= link_to 'PROJECT', '/', class:'btn btn-success btn-filter btn-project' %> 
		<%= link_to 'SKILL SHARE', '/', class:'btn btn-warning btn-filter btn-skill-share' %> 
		<%= link_to 'SHOW ALL', '/', class:'btn btn-info btn-filter btn-all' %> 
	</div>
</div>

<div class="continer col-md-10 col-md-offset-1 ">
	<div cass="row"> 
		<div class="block"> Cards will go here:
		</div>
	</div>
</div>
