// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$networking: rgb(204,94,80);
$networking-shadow: #A74134;
$project: rgb(121,203,118);
$project-shadow: #548E52;
$skill-share: rgb(225,164,54);
$skill-share-shadow: #BB882B;
$card-border: rgb(194, 209, 223);
@font-face {
	font-family: 'DINBold';
	src: url(asset-path('fonts/din-bold.ttf'));
}
@font-face {
	font-family: 'GABold';
	src: url(asset-path('fonts/PFDinTextCompPro-Bold.ttf'));
}
@font-face {
	font-family: 'Georgia';
	src: url(asset-path('fonts/Georgia.ttf'));
}

img.navIcon {
	height: 50px;
	margin-left: 15px;
}

.button_label{
	margin-top: 5px;
	text-align: center;
	font-size: 24px;
	font-family: 'GABold';
}

.btn {
	position: relative;
	display: inline-block;
	margin-right: 10px;
}

.btn-filter {
	font-family: 'DINBold';
	color: white;
	border-radius: 0;
	padding: 3px 12px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 140px;
}

.active {
	color: black;
}

.btn-networking {
	background: $networking;
	box-shadow: 0 5px $networking-shadow;
}

.btn.btn-networking.active {
	color: black;
}

.btn-project {
	background: $project;
	box-shadow: 0 5px $project-shadow;
}

.btn.btn-project.active {
	color: black;
}

.btn-skill-share {
	background: $skill-share;
	box-shadow: 0 5px $skill-share-shadow;
}

.btn.btn-skill-share.active {
	color: black;
}

.btn-all {
	background: #D4D4D4;
	border-color: #D4D4D4;
	box-shadow: 0 5px #A2A2A2;
}

.btn-all:hover {
	background: #B9B9B9;
	border-color: #A5A5A5;
	color: white;
	// box-shadow: 0 5px #7D7D7D;
}

.btn-all.active {
	background: #A5A5A5;
	border-color: #A5A5A5;
	color: black;
}

.block{
	border: 1px solid black;
}

.centered {
	text-align:center;
}

.navbar-link {
	border-left: 1px #dadada;
}

.card {
	border: 1px solid $card-border;
	margin-bottom: 20px;
	padding-left: 60px;
	min-height: 200px;
}

.card.project {
	box-shadow: 0 3px $project-shadow;
	border-bottom: 1px solid $project-shadow;
}

.card.networking {
	box-shadow: 0 3px $networking-shadow;
	border-bottom: 1px solid $networking-shadow;
}

.card.skill_share {
	box-shadow: 0 3px $skill-share-shadow;
	border-bottom: 1px solid $skill-share-shadow;
}

.flag {
	font-family: 'DINBold';
	font-size: 11px;
	color: white;
	margin: 0;
	margin-top: 10px;
	margin-right: -5px;
	padding: 3px 8px;
	box-shadow: 3px 3px 5px rgb(200,200,200);
}

.flag-project {
	background: $project;
}

.flag-networking {
	background: $networking;
}

.flag-skill_share {
	background: $skill-share;
}

.location {
	color: rgb(186, 186, 186);
	margin-right: 15px;
	margin-bottom: 0;
	font-family: 'DINBold';
	font-size: 12px;
	position: relative;
	top: 4px;
}

.avatar-thumb {
	max-width: 70px;
	max-height: 70px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: -10px;
	top: 15px;
}

hr {
	margin: 5px 0;
	margin-right: 15px;
	border-top: 1px solid rgb(150,150,150);
}

.title {
	font-family: 'GABold';
	font-size: 24px;
	margin-bottom: 2px;
}

.name {
	font-family: 'GABold';
	font-weight: lighter;
	font-size: 20px;
	margin-bottom: 0;
}

.current-position {
	font-family: 'Georgia';
	font-size: 15px;
}

.navIcon {
	margin-top: -15px;
	margin-left: -15px;
}

.jumbotron {
	background-image: url('Jumbo.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 100%;
	margin-top: -20px;
	margin-bottom: 5px;
}
.jumbotron p {
<<<<<<< Updated upstream
	font-size: 34px;
=======
		font-size: 36px;
>>>>>>> Stashed changes
}

.jumbo_text {
	font-family: 'GABold';
	color: white;
	position: relative;
<<<<<<< Updated upstream
	top: 116px;
}

@media (max-width: 768px) {
	.jumbo_text{
		top: 130px;
	}
}

@media (max-width: 519px) {
	.jumbotron p {
		font-size: 22px;
	}
	.jumbo_text {
		top: 145px;
	}
}

@media (max-width: 374px) {
	.btn-filter {
		width: 135px;
	}
}

@media (max-width: 320px) {
	.btn-filter {
		width: 115px;
	}
	.jumbotron p {
		font-size: 20px;
	}
	.jumbo_text {
		top: 148px
	}
=======
	bottom: -150px;
}

.about_title {
	font-family: 'GABold';
	font-size: 36px;
}

.about_text {
	font-family: 'Georgia';
	font-size: 14px;
}

.about_text_bold {
	font-family: 'Georgia';
	font-size: 16px;
	font-weight: bold;
}

.left_margin {
	margin-left: 10px;
}

.right_margin {
	position: relative;
	right: -25px;
>>>>>>> Stashed changes
}