// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn {
	position: relative;
	display: inline-block;
	margin-right: 10px;

}

.block{
	border: 1px solid black;
	min-height: 600px;
}