// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.textBoxArea {
	width: 500px;
	height: 100px;
}

.profile_pic {
	margin-left: -25px;
	max-height: 100px;
	max-width: 100px;
	border-radius: 50px;
}

a.profile_pic {
	font-family: 'DINBold';
}

.profile {
	position: relative;
	display: inline-block;
	text-align: center;
}

.btn .btn-warning {
	position: relative;
	display: inline-block;
}
.profile-title {
	font-family: 'GABold';
	font-size: 20px;
}

.profile-text {
	font-family: 'Georgia';
	margin-top: -15px;
}


.profile-time {
	font-family: 'DINBold';
	font-size: 11px;
	margin-top: -15px;
	margin-bottom: 10px;
	color: rgb(150,150,150);
}